#root {
  margin: 0;
  width: 100%;
  text-align: center;
}

.app-container {
  align-items: center;
  padding: 20px;
}

.column-container {
  display: grid;
  grid-template-columns: 1fr 3.5fr 0.5fr;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-right: 20px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #646cffaa;
}

.status-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.5rem;
}

.status-icon-working {
  color: green;
}

.status-icon-error {
  color: red;
}

.status-text {
  margin-left: 10px;
  font-size: 1rem;
  color: #ddd;
}

.body {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  display: flex;
  width: 100%;
  gap: 10px;
}

.input-element {
  width: 66%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  color: #fff;
}

.row button {
  width: 33%;
}
